/*  your css code here. If applicable */
.container{
	width:600px;
	height:600px;
	background-color:#f5f5f5;
}
.container2{
	display:flex;
	justify-content:space-between;
}

.header{
	background-color:#011e29;
	width:100%;
	height:50px;
	padding:30px 0px 0px 0px;
	text-align:center;
	color:white;
}
.image{ 
	width:120px;
	margin-top:10px;
}
.latest-news-section{
	width:500px;
	height:200px;
	background-color:white;
	height:150px;
	border-radius:10px;
	margin-left:20px;
	text-align:center;
	
}
h3{
	text-align:center;
	padding:0px 7px;
}
.main{
	width:600px;
	height:200px;
	background-color:white;
	margin-left:5px;
	margin-right:5px;
	padding:10px;
	text-align:center;
	border-radius:10px;
}
.pictorial-news-section{
	width:400px;
	height:350px;
	background-color:white;
	margin-right:20px;
	text-align:center;
	border-radius:10px;
}